.title {
  padding-top: 20px;

  width: 100%;
  height: 200px;

  font-size: 200px;
  font-family: "Odibee Sans", cursive;
  text-align: center;
  line-height: 200px;
  color: #feffca;
  text-shadow: 0px 0px 16px #ffff92;
}

.mainGrid {
  margin-top: 20px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 620px;
  height: 620px;
}
.mainGrid span {
  position: absolute;

  display: block;
  background: #ffd9fb;
  box-shadow: 0px 0px 16px #ff69f0;
}
.mainGrid span:nth-of-type(1),
.mainGrid span:nth-of-type(2) {
  width: 10px;
  height: 620px;
}
.mainGrid span:nth-of-type(3),
.mainGrid span:nth-of-type(4) {
  width: 620px;
  height: 10px;
}
.mainGrid span:nth-of-type(1) {
  top: 0;
  left: 200px;
}
.mainGrid span:nth-of-type(2) {
  top: 0;
  left: 410px;
}
.mainGrid span:nth-of-type(3) {
  top: 200px;
  left: 0;
}
.mainGrid span:nth-of-type(4) {
  top: 410px;
  left: 0;
}

.buttons {
  position: absolute;
  top: 0;
  left: 0;

  width: 620px;
  height: 620px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.buttons button {
  width: 200px;
  height: 200px;

  background: none;
  border: none;

  font-size: 200px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 200px;
}
.buttons button.o {
  color: #c9c0ff;
  text-shadow: 0px 0px 16px #001aff;
}
.buttons button.x {
  color: #ffb5b5;
  text-shadow: 0px 0px 16px #ff0000;
}
.buttons button.on {
  color: #eeeeee;
  text-shadow: 0px 0px 16px #ffffff;
}

.gameStart {
  position: absolute;
  top: 640px;

  width: 100%;
  font-family: "Odibee Sans", cursive;
  font-size: 36px;
  text-align: center;
  color: #eeeeee;
  text-shadow: 0px 0px 16px #ffffff;
}

.popup {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  display: block;

  width: 450px;
  height: 300px;

  background: rgba(238, 238, 238, 0.5);
  border-radius: 20px;
}
.popup h1 {
  width: 100%;
  height: 120px;

  font-size: 120px;
  font-family: "Nunito", sans-serif;
  text-align: center;
  line-height: 120px;
  color: #feffca;
  text-shadow: 0px 0px 16px #ffff92;
}
.popup h1:nth-of-type(1) {
  margin-top: 40px;
}

.popup h2 {
  width: 100%;
  height: 120px;

  font-size: 120px;
  font-family: "Nunito", sans-serif;
  text-align: center;
  line-height: 120px;
}
.popup h2.o {
  color: #c9c0ff;
  text-shadow: 0px 0px 16px #001aff;
}
.popup h2.x {
  color: #ffb5b5;
  text-shadow: 0px 0px 16px #ff0000;
}
.popup h2.draw {
  color: #feffca;
  text-shadow: 0px 0px 16px #ffff92;
}
.popup h2:nth-of-type(1) {
  margin-top: 40px;
}

@media screen and (max-width: 670px) {
  .title {
    font-size: 150px;
  }

  .mainGrid {
    width: 470px;
    height: 470px;
  }
  .mainGrid span:nth-of-type(1),
  .mainGrid span:nth-of-type(2) {
    height: 470px;
  }
  .mainGrid span:nth-of-type(3),
  .mainGrid span:nth-of-type(4) {
    width: 470px;
  }
  .mainGrid span:nth-of-type(1) {
    left: 150px;
  }
  .mainGrid span:nth-of-type(2) {
    left: 310px;
  }
  .mainGrid span:nth-of-type(3) {
    top: 150px;
  }
  .mainGrid span:nth-of-type(4) {
    top: 310px;
  }

  .buttons {
    width: 470px;
    height: 470px;
  }
  .buttons button {
    width: 150px;
    height: 150px;

    font-size: 150px;
    line-height: 150px;
  }

  .gameStart {
    top: 490px;

    font-size: 24px;
  }

  .popup {
    top: 350px;

    width: 400px;
    height: 250px;
  }
  .popup h1 {
    height: 100px;

    font-size: 100px;
    line-height: 100px;
  }
  .popup h1:nth-of-type(1) {
    margin-top: 20px;
  }

  .popup h2 {
    height: 100px;

    font-size: 100px;
    line-height: 100px;
  }
  .popup h2:nth-of-type(1) {
    margin-top: 20px;
  }
}

@media screen and (max-width: 510px) {
  .title {
    font-size: 110px;
  }

  .mainGrid {
    width: 320px;
    height: 320px;
  }
  .mainGrid span:nth-of-type(1),
  .mainGrid span:nth-of-type(2) {
    height: 320px;
  }
  .mainGrid span:nth-of-type(3),
  .mainGrid span:nth-of-type(4) {
    width: 320px;
  }
  .mainGrid span:nth-of-type(1) {
    left: 100px;
  }
  .mainGrid span:nth-of-type(2) {
    left: 210px;
  }
  .mainGrid span:nth-of-type(3) {
    top: 100px;
  }
  .mainGrid span:nth-of-type(4) {
    top: 210px;
  }

  .buttons {
    width: 320px;
    height: 320px;
  }
  .buttons button {
    width: 100px;
    height: 100px;

    font-size: 100px;
    line-height: 100px;
  }

  .gameStart {
    top: 340px;

    font-size: 24px;
  }

  .popup {
    top: 300px;

    width: 350px;
    height: 200px;
  }
  .popup h1 {
    height: 80px;

    font-size: 80px;
    line-height: 80px;
  }
  .popup h1:nth-of-type(1) {
    margin-top: 20px;
  }

  .popup h2 {
    height: 80px;

    font-size: 80px;
    line-height: 80px;
  }
  .popup h2:nth-of-type(1) {
    margin-top: 20px;
  }
}
